.titulo{ font-family: Arial, sans-serif; 
    font-size: 39px; 
    color: #333; 
    text-align: center; 
    margin-top: 60px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

h2{ font-family: Arial, sans-serif; 
    font-size: 29px; 
    color: #333; 
    text-align: center; 
    margin-top: 30px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

#cadastro {max-width: 320px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 4px solid rgb(43, 43, 102); 
    border-radius: 5px; 
}

label{display: flex;
    margin-bottom: 7px; 
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 7px;
}

input{
    padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  outline: none;
}

.botaof{ font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2d2ba1;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.botaof:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
  }

body{background-image: url(../img/azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.rodape{position: relative;
    top: 18px;
    opacity: 2;
    background-size: cover;
    background-color: rgb(32, 125, 246);
    color: #ddd;
    text-align: center;
    }
    
.texto-rodape{ background-color: #007BFF;
    font-size: 20px;
      font-weight: bolder;
    }
    
.contatos-rodape{border: 5px solid rgb(79, 79, 211);
      border-width: 4px;
      border-right: #007BFF;
      border-left: #007BFF;
      font-size: 25px;
    }
