
.titulo{ color: rgb(63, 136, 185);
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-style: double;
  border-width: 10px;
  border-color: aliceblue;
  border-image: url(../img/waves.jpg) 470 round;
  box-shadow: 20px 20px rgb(135, 139, 173);
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}


header{ 
  margin-top: -10px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;}
  
.menu {
  display: grid;
  grid-template-columns: auto;
  padding: 3px 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #007BFF;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.7s ease, color 0.7s ease;

}

  .botao-cadastro { 
  
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #092d98;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

  .botao-login {
  
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #092d98;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

h1{
  color: black;
  text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 5px;
padding: 10px; }

h2{
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    padding: 10px;
}

p{
    
}  

body{background-image: url(../img/Sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;

  color: black;
  text-align: center;
}

footer.rodape{ 
background-color: black;
}