body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a7085;
}
 
header { border-style: double;
    background-color: #2d8fb0;
    color: white;
    padding: 15px;
    text-align: center;
   
}
 
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
 
body{ background-image: url(../img/peixin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
 
 
 
.equipe{background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 300px; ;}
 
.integrantes{   font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 20px;
    justify-content: flex-end;
    align-items:last baseline;
    padding: 2rem;
    width: 200%;
    max-width: 300px;
    
}
 
.equipe img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}


.rodape{ 
    position: relative;
    top: 19px;
    background-size: contain;
  background-color: rgb(57, 130, 182);
  color: #ddd;
  text-align: center;
  }
  
  
  .texto-rodape{ font-size: 20px;
    font-weight: bolder;

  }
  
  
  .contatos-rodape{border: 5px solid rgb(79, 79, 211);
    border-width: 4px;
    border-right: #007BFF;
    border-left: #007BFF;
    font-size: 25px;
  }